[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
dicttoxml = "*"
sympy = "==1.11.1"
xmltodict = "==0.13.0"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
